/* You can add global styles to this file, and also import other style files */


body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #908ea8, #494474, #2e2e82);
}